.input {

    box-sizing: border-box;
    margin-bottom: 10px;
}


body {
    margin: 0;
    padding: 20px;
    
}


#openBox {
    margin-top: 15px;
    width: 10em;
    font-size: 18px;
    font-weight: bold;
    color: lightslategrey;
    
}