.input {

    box-sizing: border-box;
    margin-bottom: 10px;
    width: 50%;
    
    
}


body {
    margin: 0;
    padding: 20px;
    
}

#ul-el {
    padding-left: 30px;
}

#openBox {
    margin-top: 15px;
    width: 10em;
    font-size: 18px;
    font-weight: bold;
    color: lightslategrey;
    
}